.card.card-about {
  overflow: visible;
  height: auto !important;
}

img.profile-img {
  max-height: 213.33px;
  max-width: 213.33px;
}

div.card-image {

}

.black-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

img.portfolio-banner {
  height: 250px;
}

span.card-title.black-text.email {
  font-size: 1.1em;
}

.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}