/*.card-about {
  overflow: visible;
  height: 10% !important;

}*/

.img-circle {
    border-radius: 50%;
}


.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.title-card {
  height: auto !important;
  display: block;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div.card {
    clear: both;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

img.portfolio-banner {
  height: 250px;
}


span.card-title.black-text.email {
  font-size: 1.1em;
}

.profile-pic {
/*  margin-bottom: -1em;*/
  bottom: 20%;
  transform: translateY(12%);
  z-index: 998;
}

div.col.profile-pic {
  padding: 0 !important;
  margin: 0;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
