/*i {
	color: #fff;
}*/

nav ul a, nav .brand-logo {
	color: white !important;
	background-color: #212E39 !important;
	z-index: 2;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2 !important;
    will-change: opacity;
}
