/*i {
	color: #fff;
}*/

ul#mobile-nav.side-nav {
	background-color: #212E39 !important;
}

nav, nav, ul#mobile-nav.side-nav, .brand-logo {
	color: white !important;
	background-color: #212E39 !important;
	z-index: 999;
}

i.material-icons.nav-icon, li.nav-text > a {
	color: white !important;
}

ul.nav-mobile {
	background-color: #212E39 !important;
    padding-left: 0 !important;
    padding-top: 50px !important;
    list-style-type: none !important;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 996 !important;
    will-change: opacity;
}

.side-nav {
	padding-top: 50px !important;
    position: fixed;
    background-color: #212E39 !important;
    width: 200px;
    opacity: 0.8;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
