.card {
  background: #fff;
  border-radius: 2px;
  height: 70%;
  margin: 1rem;
  position: relative;
  width: 45%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 40%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 80%
}

.card > .content-container {
  height: 60%;
  overflow: hidden;
  text-align: left;
  background:white;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1em;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
