img {
  width: 80%;
}

button {
  width: 80%;
}

element.style {
    overflow: hidden;
}

.card .card-image {
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.waves-block {
    display: block;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

.card, .card-panel {
    transition: box-shadow .25s;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}