img {
  width: 80%;
}

element.style {
    overflow: hidden;
}

.card {
    position: relative;
}

.card, .card-panel {
    transition: box-shadow .25s;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}
