div.edit-icons {
  position: relative; 
}

button {
    background-color: #26a69a;
}

div.fixed-action-btn.horizontal {
    position: absolute;
    display: inline-block;
    float: right!important;
    bottom: inherit;
    margin: 10px 10px 0px;
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -25px;
    left: 20px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 995 !important;
}

.fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 15px 15px;
    position: relative; 
}

.about-project {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

div.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: black !important;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 0px !important;
}

div.chip a{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: navy !important;
    margin: 15px !important;
}

element.style {
    overflow: hidden;
}

div.card-image {
    position: relative;
    /* height: 200px !important; */
    overflow: hidden;
    height: 50%;
}

.card, .portfolio-card{
    position: relative;
    height: 400px !important;
    background-image: url(https://s3.us-east-2.amazonaws.com/cvcast/halftone.png);
    background-repeat: no-repeat cover;
    overflow: scroll;
}

.card {
    background-image: url(https://s3.us-east-2.amazonaws.com/cvcast/halftone.png);
    position: relative;
    background-color: inherit;
    height: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0px !important;
}

.waves-block {
    display: block;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

div.card, div.card-panel {
    transition: box-shadow .25s;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-image: url(https://s3.us-east-2.amazonaws.com/cvcast/halftone.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.card {
    height: 400px;
    background-image: url(https://s3.us-east-2.amazonaws.com/cvcast/halftone.png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
    height: auto;
}

div.card-action, div.card-reveal {
    background-image: url(https://s3.us-east-2.amazonaws.com/cvcast/halftone.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.card-action {
    position: relative;
    padding: 16px 24px;
    height: -webkit-fill-available;
}


.tagsDiv {
    max-height: 100px;
}
