

.card.card-content {
	height: auto;
}

.project-submit {
	text-align: center !important;
	width: 40%;
}

.row-project-form {
	margin: 1;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
}