
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h3.login-text {
  text-align: center;
}

div.nav-wrapper {
  background-color: #212E39 !important;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100%;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0% !important;
    left: 0% !important;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
    background: #000;
    padding-bottom: 59% !important;
    padding-right: 0% !important;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    opacity: 0.7;
}
  

.card {
/*    margin: 5px !important;*/
/*    margin: .5rem 0 1rem !important;*/
    margin: 10px !important;
/*    padding-top: 0px !important;
    padding-right: 0.75rem !important;
    padding-bottom: 0px !important;
    padding-left: 0.75rem !important;*/
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.parallax {
    position: absolute;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -2;
}

.button-collapse {
  color: #26a69a;
}

div.about {
  background-color: white;
  opacity: 0.7;
}