
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h3.login-text {
  text-align: center;
}

/*-------------------------------------------------------------------------*/
/*BACKGROUND VIDEO*/
/*-------------------------------------------------------------------------*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100%;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0% !important;
    left: 0% !important;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
    background: #000;
    padding-bottom: 59% !important;
    padding-right: 0% !important;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    opacity: 0.7;
}

/*-------------------------------------------------------------------------*/
/*CARDS*/
/*-------------------------------------------------------------------------*/

.card {
    margin: 10px !important;
}

/*-------------------------------------------------------------------------*/
/*MAIN PAGE*/
/*-------------------------------------------------------------------------*/
a#portfolio-button {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out !important;
    cursor: pointer;
}

a#login-button {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out !important;
    cursor: pointer;    
}

.scale-transition.scale-out {
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
    transition: -webkit-transform .2s !important;
    transition: transform .2s !important;
    transition: transform .2s, -webkit-transform .2s !important;
}

a#logout-button {
    text-decoration: none;
    color: #fff;
    background-color: #004d40;
/*    opacity: 0.9;*/
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;    
}

a#logout-button:hover {
    background-color: #26a69a;
}

a.waves-effect.waves-light.btn-large.main-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
/*    width: 50%;*/
    padding: 0px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.parallax {
    position: absolute;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -2;
}

.button-collapse {
  color: #26a69a;
}

div.about {
  background-color: white;
  opacity: 0.7;
}

/*-------------------------------------------------------------------------*/
/*NAVBAR*/
/*-------------------------------------------------------------------------*/

nav ul a,
nav .brand-logo {
  color: #444;
}

div.nav-wrapper {
  background-color: #212E39 !important;
}

/*-------------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*-------------------------------------------------------------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
    {
    h3.main {
        font-size: 2.1rem;
        line-height: 110%;
        margin: 1rem 0 1.168rem 0;
    }

    h4.main {
        font-size: 1.4rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0;
    }

    h5.main {
        font-size: 1.3rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0;
    }
    .container {
        margin: auto;
        max-width: 1280px;
        width: 90%;
    }
    .card .card-content {
        padding: 9px;
        border-radius: 0 0 2px 2px;
    }
}